<!DOCTYPE html>
<html lang="en-us">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
		<title>Goodburger</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/javascript/burgerLogic.js"></script>
	
	</head>
	<body>
		<div class="container">
		{{{ body }}}
		</div>
	</body>
</html>
