<div class="header">
    <h2 class="welcome">Welcome to</h2>
    <div class="logoDiv">
        <img class="logoImg" src="/assets/images/good_burger_logo.png" alt="good burger logo">

    </div>
    <h2 class="home">Home of the <span class="gb_tagline">Good Burger</span>!</h2>
</div>


<div class="mainDiv">

    <div class="left-list">
        <h3>Order Up!</h3>
            {{#each burgers}} {{#unless devoured}} {{> burgers/burger-list devoured=false}} {{/unless}} {{/each}}
    </div>

    <div class="formDiv">
                    <h2 class="takeOrder">May I Take Your Order?</h2>
        <form>
            <div class="form-group">
                <label for="newBurger">Burger Name:</label>
                <input type="text" id="newBurger">
            </div>

            <button id="submitBtn" type="submit">Order Burger</button>
        </form>
    </div>

    <div class="right-list">
        <h3>Eaten Burgers!</h3>
 
            {{#each burgers}} {{#if devoured}} {{> burgers/burger-list devoured=true}} {{/if}} {{/each}}

    </div>
</div>

