/*--------General Formatting -----------------------------*/

* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, sans-serif
}

body {
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: darkturquoise;
}

.container {
    border-left: solid 3px black;
    border-right: solid 3px black;
    border-bottom:solid 3px black;
    margin: auto;
    width: 90%;
    background-color: oldlace;
    margin-bottom:10px;
}

/*--------Logo -----------------------------*/
.header {
    margin-bottom: -20px;
    margin-top: -35px;
}
.logoDiv {
    margin: auto;
    width: 70%;
    height: fit-content;
    margin-bottom: -20px
}

.logoImg {
    width: inherit;
    display: block;
    margin: 0 auto;
    position: relative;
    bottom: 50px;
}

.welcome {
    width: fit-content;
    padding: 15px 10px 20px 10px;
    position: relative;
    left: 150px;
    top: 20px;
    font-size: 60px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-family: 'Shadows Into Light', cursive;
}

.home {
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    left: 400px;
    bottom: 60px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 42px;
    font-family: 'Shadows Into Light', cursive;
}

.gb_tagline{
    font-style:bold;
    color:darkturquoise;
    font-family:inherit;
}

/*--------Form and List Container -----------------------------*/

.mainDiv {
    display: flex;
    justify-content: space-around;
    padding-bottom:20px;
}

/*--------Form Container -----------------------------*/

.takeOrder{
    text-align:center;
}

form {
    margin: auto;
}

.formDiv {
    text-align: center;
    width:33%;
}

.form-group {
    margin-bottom: 10px;
}

label{
    font-size:20px;
}

#submitBtn{
    background-color:darkturquoise;
    padding: 8px 12px 8px 12px;
    border: solid 1px #F0F0F0;
    color: oldlace;
    font-size:18px;

}

#submitBtn:hover{
    background-color:#00b0b3
}
/*--------Lists -----------------------------*/

.listDiv{
    width:100%;
    display:flex;
    justify-content:space-between;
    margin-bottom:5px;
    padding-right:5px;
    padding-left:5px;

}


.left-list{
    width:35%;
    border-right: groove black 2px;
    text-align: center;
    margin-top:15px;
}

.right-list{
    margin-top:15px;
    text-align: center;
    border-left:groove black 2px;
    padding:3px;
}


.list-items{
    margin-top:8px;
    margin-bottom:8px;
}


.devourBtn{
    background-color:#F0F0F0;
    padding:2px 5px 3px 5px;
    font-style:bold;
    border: solid 1px black;
    margin-right:4px;
 
}

.devourBtn:hover{
    background-color:#E8E8E8;
}